*{
  margin:0;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}
.app__header {
  background-color: white;
  padding:20px;
  border-bottom: lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__headerImage {
  width: 100px;
  object-fit: contain;
}
.app__signup{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.app__postLeft{
  margin-right: 20px;
}
.app__postRight{
  margin-left: 20px;
}
.app__posts{
  padding:20px;
  display: flex;
  justify-content: center;
}